* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4e4ba;
  min-height: 100vh;
}
.container {
  background-color: #fff;
  min-width: 580px;
  min-height: 300px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.container h2 {
  text-align: center;
  margin-top: 20px;
  color: #1f2a44;
}
form select,
input,
button {
  border: none;
  outline: none;
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.from,
.to {
  display: flex;
  justify-items: center;
  align-content: center;
  margin-top: 20px;
  border-radius: 5px;
  gap: 10px;
}
.from p,
.to p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
}
.from img,
.to img {
  max-width: 38px;
}
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding:0px 0px 0px 10px;
}
.select-container select {
  border-radius: 5px;
  width: 60px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.select-container input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 500;
  min-width: 60px;
  max-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown i {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  color: #1f2a44;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  outline: none;
  border: none;
}
.btn button {
  min-width: 100px;
  min-height: 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #2563eb;
  color: #ffffff;
  cursor: pointer;
}
.btn button:hover {
  box-shadow: 0 10px 25px rgba(37, 99, 235, 0.25);
  transform: translateY(-2px);
}
